body {
    font-family: 'Lato', sans-serif; /* Using Lato font */
    background-color: #f0f0f0; /* Light grey background */
    margin: 0;
    padding: 0;
    color: #012169; /* Dark blue text */
}

#countdown {
    font-size: 3rem; /* Larger font size for better visibility */
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF; /* White background for the countdown area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border-radius: 8px; /* Rounded corners */
    margin: 20px;
    color: #C8102E; /* Red text for the countdown */
}

#countdown span {
    padding: 20px 40px;
    background-color: #012169; /* Blue background for the timer */
    color: #FFFFFF; /* White text within the timer */
    border-radius: 5px; /* Slightly rounded corners for the timer */
    border: 3px solid #C8102E; /* Red border */
}
